<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../data-manager/dm-listado-pokemon.html">


<dom-module id="pokemon-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

  <dm-listado-pokemon>

  </dm-listado-pokemon>
    

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PokemonApp extends Polymer.Element {
      static get is() { return 'pokemon-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'pokemon-app'
          }
        };
      }
    }

    window.customElements.define(PokemonApp.is, PokemonApp);
  </script>
</dom-module>
