<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../data-provider/dp-detalle-pokemon.html">

<dom-module id="dm-detalle-pokemon">
    <template>
        <style>
            :host {
                display: block
            }
            span{
                font-size: .8em;
                display: inline-block;
                background-color: cornflowerblue;
                padding: 5px;
            }
        </style>

    <p>
        
        <h3 >  [[name]] </h2>
        <button on-click="toogle">mostrar Detalle</button>

        <iron-collapse opened="[[desplegado]]">
            <dp-detalle-pokemon url=[[url]] pokemon={{pokemon}}></dp-detalle-pokemon>
            <span> Detalle del pokemon [[name]]:
                    <p> Height: [[pokemon.height]] </p>
                    <p> Weight: [[pokemon.weight]] </p>
                    <img src="[[pokemon.sprites.front_default]]"></img>
             </span>  
        </iron-collapse>
    </p>
    

    </template>

    <script>


        class DmDetallePokemon extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'dm-detalle-pokemon';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    name: {
                        type:String,
                        notify:true
                    }, 
                    url: {
                        type: String,
                        notify:true
                    },
                    pokemon:{
                        type: Object
                      
                    },
                    desplegado:{
                        type: Boolean,
                        value: false
                    }
                };
            }

            mostrarPok(){
                console.log(this.pokemon);
            }

            toogle(){
                this.desplegado= !this.desplegado
            }
        }

        window.customElements.define(DmDetallePokemon.is, DmDetallePokemon);
    </script>
</dom-module>