<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../data-provider/dp-listado-pokemon.html">
<link rel="import" href="../data-manager/dm-detalle-pokemon.html">

<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">



<dom-module id="dm-listado-pokemon">
    <template>
        <style>
            :host {
                display: block
            }
        </style>
    <dp-listado-pokemon pokemones={{pokemones}}>

    </dp-listado-pokemon>

    <template is="dom-repeat" items="[[pokemones]]" as="pokemon" >
        <dm-detalle-pokemon name="[[pokemon.name]]" url="[[pokemon.url]]"
        ></dm-detalle-pokemon>
    </template>
        
    </template>

    <script>
      
        class DmListadoPokemon extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'dm-listado-pokemon';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    pokemones:{
                        type: Array,
                        value: function(){
                            return [];
                            }
                        }
                };
            }

        }


        window.customElements.define(DmListadoPokemon.is, DmListadoPokemon);
    </script>
</dom-module>