<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="dp-detalle-pokemon">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <iron-ajax
        id="ajax"
        url="{{url}}"
        last-response="{{response}}"
        auto
        method="GET">
        </iron-ajax>

    </template>

    <script>
      
        class DpDetallePokemon extends Polymer.Element {

            static get is() {
                return 'dp-detalle-pokemon';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    response: {
                        type: Object,
                        observer: "actualizarDetalle",
                        notify:true
                    },
                    url: String,
                    pokemon:{
                        type: Object,
                        value:{
                            height: Number,
                            weight: Number,
                            sprites:{
                                front_default:String
                            }
                        },
                        notify:true

                    },
                    
                };
            }
            ready(){
                super.ready();
                console.log("ready");
                console.log(this.url);
                this.$.ajax.generateRequest();
            }

            actualizarDetalle(newVal,oldVal){
                console.log("pokemon dpp",newVal)

                this.set('pokemon',newVal);
            }
        }

        window.customElements.define(DpDetallePokemon.is, DpDetallePokemon);
    </script>
</dom-module>