
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="dp-listado-pokemon">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <iron-ajax
            id="ajax"
            url="https://pokeapi.co/api/v2/pokemon/"
            last-response="{{response}}"
            auto
            method="GET">
        </iron-ajax>

        

    </template>

    <script>
        
        class DpListadoPokemon extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'dp-listado-pokemon';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    response: {
                        type: Object,
                        observer: "actualizarPokemones",
                        notify:true
                    }
                    ,
                    pokemones:{
                        type: Array,
                        value:function(){
                            return [];
                        },
                        notify: true
                    }
                };
            }           

            ready(){
                super.ready();
                this.$.ajax.generateRequest();
            }
            actualizarPokemones(newVal,oldVal){
                this.set('pokemones',newVal.results);
                
            }

        }

        window.customElements.define(DpListadoPokemon.is, DpListadoPokemon);
    </script>
</dom-module>